body{
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: arial;
}
.title{
  font-size: 30px;
  font-weight: bold;
}
.result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}
.move-button{
  background-color: rgb(25, 25, 25);
  border: 3px white solid;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 10px;
}
.move-img{
  height: 50px;
}
.score{
  margin-top: 60px;
}
.reset-button, 
.autoPlay-button{
  padding: 6px 14px;
  font-size: 15px;
}